html, body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

div.head {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #042143;
  text-align: center;
}

div#about.head {
  background-color: #244183;
}

div.head>img {
  width: 100%;
  height: inherit;
  display: block;
  opacity: 0.5;
}

div.head>h1 {
  position: absolute;
  margin: 0px;
  left: 0;
  top: 35%;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 3.5vw;
  text-shadow: 2px 2px 4px black;
  width: 100%;
}

div.head>p {
  position: absolute;
  margin: 0px;
  left: 0;
  top: 55%;
  color: white;
  font-size: 1.35vw;
  text-shadow: 1px 1px 2px black;
}

div#about.head>h1, div#about.head>p {
  text-align: left;
  padding-left: 130px;
}

div#about.head>p {
  font-size: 1.5vw;
  top: 50%;
  color: #aab2c0;
  text-shadow: 1px 1px 2px #444;
}

div.head>p>span {
  display: inline-block;
  width: 70%;
}

div#about.head>p>span {
  width: 45%;
}

div.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  height: 375px;
}

div.skills>div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

div.skills>div>h2 {
  font-size: 30px;
  font-weight: 600;
}

div.skills>div>a>img {
  width: auto;
  height: 150px;
}

div.footer {
  width: 100%;
  text-align: center;
  height: 40px;
  background-color: #24292e;
  color: hsla(0, 0%, 100%, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

div.footer>p {
  width: 100%;
}

div.project-header {
  display: grid;
  grid-template-columns: 3fr 11fr 1fr 10fr 3fr;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
  background-image: linear-gradient(268deg, #303f67, #0c1838);
  color: white;
  line-height: 1.5;
}

div.project-header>div.text, div.project-header>div.image {
  grid-column: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.project-header>div.text {
  grid-column: 2;
  flex-direction: column;
}

div.project-header>div.image>img {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

div.project-header>div.text>h1 {
  width: 100%;
  font-size: 3vw;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 0px;
}

div.project-header>div.text>p {
  width: 100%;
  margin-bottom: 0px;
}

div.programs {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

div.programs>div {
  min-width: 350px;
  text-align: center;
  flex-grow: 1;
}

div.programs>div>h2 {
  text-decoration: underline;
  font-size: 30px;
  text-shadow: 1px 1px #aaa;
}

div.programs>div:nth-child(2n) {
  background-color: #eee;
}

div.programs>div>div.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div.programs>div>div.grid>a>div {
  width: 225px;
  height: 192.5px;
  background-color: #ddd;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  position: relative;
}

div.programs>div>div.grid>a>div>span {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  border-radius: 10px;
}

div.programs>div>div.grid>a>div>img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

div.programs>div>div.grid>a>div>h3 {
  width: 100%;
  height: auto;
  font-size: 20px;
  color: black;
  text-decoration: none;
  bottom: -5px;
  position: absolute;
  left: 0px;
}

div.programs>div>div.grid>a>div>p {
  width: 100%;
  color: white;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
  -webkit-transition: z-index 1s;
  transition: z-index 1s;
}

div.programs>div>div.grid>a>div>p>span {
  display: inline-block;
  width: 90%;
}

div.programs>div>div.grid>a>div:hover>span {
  display: block;
}

div.programs>div>div.grid>a>div:hover>p {
  display: flex;
}